@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <h3>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</h3>
    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Message"]</h3>
    <video id="1" autoplay="autoplay" onloadstart="this.volume=0" src="https://2ch.hk/b/src/192896309/15524221181880.webm" width="100%"></video>
    @*<video id="2" onmouseout="Stop()" onmouseover="Play()" onloadstart="this.volume=0" src="https://2ch.hk/b/src/192896309/15524221181880.webm" width="100%"></video>
        <video id="3" autoplay="autoplay" onloadstart="this.volume=0" src="https://2ch.hk/b/src/192896309/15524221181880.webm" width="100%"></video>
        <video id="4" autoplay="autoplay" onloadstart="this.volume=0" src="https://2ch.hk/b/src/192896309/15524221181880.webm" width="100%"></video>*@
    <h3>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</h3>
    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Message"]</h3>
    <h3>@ViewData["Message"]</h3>
    <video id="4" autoplay="autoplay" onloadstart="this.volume=0" src="https://2ch.hk/b/src/192896309/15524221181880.webm" width="100%"></video>
</div>

    <p>Use this area to provide additional information.</p>

    <script>
        //function Play() {
        //    var vid = document.getElementById("1");
        //    vid.play();
        //}
        //function Stop() {
        //    var vid = document.getElementById("1");
        //    vid.pause();
        //}

        //debugger;
        //var options = {
        //    root: document.querySelector('.container'),
        //    rootMargin: '0px',
        //    threshold: 1.0 // trigger only when element comes into view completely
        //};
        //var observer = new IntersectionObserver((entries, observer) => {
        //    debugger;
        //    entries[0].target.play();
        //}, options);

        //var target = document.querySelector('video');
        //observer.observe(target);

        // observe all paragraphs, when coming into view, change color
        //document.querySelectorAll('video').forEach((item) => {
        //    observer.observe(item);
        //});

    </script>
